* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 2000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 100%;
    background: #036042;
    color: #fff;
    height: 200px;
}

.name {
    padding: 5% 0% 5% 15%;
    font-size: 50px;
    font-weight: 900;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 70px 0px;

}

nav a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-size: 25px;
}

main {
    text-align: center;
}


.welcome h2 {
    font-size: 70px;
    font-weight: 800;
    padding: 10px;
}

.welcome p {
    font-size: 18px;
    font-weight: 400;
}

.welcome {
    margin: 10px;
    text-align: center;
    padding: 50px 10px 50px 10px;
}

.menu:hover {
    color: #0b296b;
}

.kawhia {
    margin: 10px 30px 10px 30px;
    width: 80% ;
    max-width: 550px;
}

/* @media only screen and (max-width: 600px) {} */ 

