* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 100%;
    background: #036042;
    color: #fff;
    height: 200px;
}

.name {
    padding: 5% 0% 5% 15%;
    font-size: 50px;
    font-weight: 900;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 70px 0px;

}

nav a {
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-size: 25px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    
}

.welcome h2 {
    font-size: 70px;
    font-weight: 800;
    padding: 10px;
}

.welcome p {
    font-size: 18px;
    font-weight: 400;
}

.welcome {
    margin: 10px;
    text-align: center;
    padding: 50px 10px 50px 10px;
    z-index: 2;
}

.post-header {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding: 10px 0px 10px 20px;
}

.menu:hover {
    color: #0b296b;
}

.kawhia {
    margin: 10px;
    width: 80%
}