.profilephoto {
    width: 250px;
    border-radius: 50%;
    margin: 20px;
}

.profile {
    text-align: center;
    margin: 50px;
    line-height: 2;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 5px; 
}

.links a, .profile {
    text-decoration: none;
    color: black;
}

.intro {
    padding: 20px;
}

/*  responsive images */

@media only screen and (max-width: 370px) {
    .profilephoto {
        width: 100%;
        margin: 0px;
        height: auto;
        object-fit: contain;
    }
}